header {
  position: sticky;
  top: 0;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  z-index: 98;
  background: var(--gray-900);
  width: 100%;
  padding: 0.5rem 0;
  transition: all 0.5s ease;
  height: var(--header-height);
  @media (max-width:48rem) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 0.75rem 0;
    margin-top: -0.0625rem;
    background-color: var(--black-70);
    // backdrop-filter: blur(4px);
  }
  .logo {
    img {
      @media (max-width: 48rem) {
        max-width: 3rem;
        object-fit: contain;
        width: 100%;
        height: 2rem;
      }
    }
  }
  nav.menu-principal {
    column-gap: 1.5rem;
    @media screen and (max-width: 48rem) {
      display: none !important;
    }
    ul {
      column-gap: 5rem;
      @media screen and (max-width: 62.5rem) {
        column-gap: 2.5rem;
      }
      li {
        a {
          transform: translateY(0);
          transition: all 0.5s ease;
        }
      }
    }
  }
  &.sticky-header {
    // background-color: transparent;
    position: sticky;
    bottom: auto;
    top: 0;
    padding-top: 1rem;
    
    nav.menu-principal ul li a {
      opacity: 0;
      transform: translateY(-1.25rem);
    }
    .switch-darkmode {
      opacity: 0;
    }
  }
  .switch-darkmode {
    font-size: 1.0625rem;
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 18px;
    opacity: 1;
    transition: all 0.5s ease-out;
    input[type="checkbox"] {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .slider-darkmode {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 18px;
      background-color: var(--white-100);
      transition: 0.5s;
      border-radius: 1.875rem;
      transition: all 0.5s ease-out;
      &:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 1.125rem;
        border-radius: 50%;
        left: 12%;
        bottom: 14%;
        box-shadow: inset 0.4rem -0.20rem 0rem 0rem var(--gray-900);
        background: var(--white-100);
        transition: all 0.5s ease-out;
        @media (max-width: 48rem) {
          bottom: 10%;
        }
      }
    }
    input:checked + .slider-darkmode {
      background-color: var(--primary);
      &:before {
        transform: translateX(100%);
        box-shadow: inset 0.9375rem -0.25rem 0rem 0.9375rem var(--white-100);
        left: 30%;
      }
    }
  }
}

.menu-hamburguer {
  > button{
    transition: all 0.3s ease-in-out;
    z-index: 1001;
    position: relative;
    .icon-hamburguer {
      width: 26px;
      height: 18px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    
      span {
        width: 100%;
        height: 2.5px;
        background: var(--white-100);
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
        position: absolute;
        transform-origin: left center;
    
        &:nth-child(1) {
          top: 0;
        }
    
        &:nth-child(2) {
          top: 50%;
        }
    
        &:nth-child(3) {
          top: 100%;
        }
      }
    
      &.open {
        span {
          &:nth-child(1) {
            transform: rotate(45deg);
            top: 0px;
            left: 0px;
          }
    
          &:nth-child(2) {
            width: 0%;
            opacity: 0;
          }
    
          &:nth-child(3) {
            transform: rotate(-45deg);
            top: 18px;
            left: 0px;
          }
        }
      }
    }
    &:hover{
      .path-hamburguer-animate{
        transform: scaleX(1);
      }
    }
  }
  .path-hamburguer-animate{
    transform: scaleX(0.5);
    transition: transform .2s ease-in-out;
    transition-delay: .1s;
  }
  nav {
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: forwards;
    background: var(--primary);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    // border-radius: 100%;
    animation: closeMenu 0.8s linear .5s;
    ul li {
      opacity: 0;
      transform: translateY(20px);
      transition: opacity .5s ease-in-out, transform .5s ease-in-out;
    }

    &.nav-open {
      transition-delay: 0s;
      border-radius: 0%;
      animation: openMenu 0.8s linear 0s;
      ul li {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &:not(.nav-open) {
      transition-delay: .5s;
    }
  }
}

/* Loop SCSS para criar delays automáticos */
@for $i from 1 through 10 {
  nav{
    &.nav-open ul li:nth-child(#{$i}) {
      transition-delay: #{.3s + ($i * 0.2s)}; // Inicia após 4s e adiciona 0.2s por item
    }
  }
}

@keyframes openMenu {
  0%{
    border-radius: 50%;
  }
  30%{
    border-radius: 30%;
  }
  50% {
   border-radius: 0;
  }
}
@keyframes closeMenu {
  0%{
    border-radius: 0%;
  }
  50% {
    border-radius: 20%;
   }
   75% {
    border-radius: 30%;
   }
   100% {
    border-radius: 50%;
   }
}
