.sec-sobre {
    padding: 120px 0px 80px;
    min-height: 100vh;
    .text {
      padding-right: 80px;
      h2 {
        margin-bottom: 40px;
      }
      p{
        color: var(--white-70);
        @apply content-text;
        margin-bottom: 24px;
      }
    }
    .image img {
      position: sticky;
      top: 100px;
      max-width: 100%;
      margin: auto;
      height: auto;
      object-fit: contain;
    }
  }