body:has(main.main-archive){
    header{
        position: fixed;
    }
    .list-categories{
        -webkit-mask-image: linear-gradient(to left, transparent 0, transparent 0, var(--black-100) 77px, var(--black-100) 100%);
        mask-image: linear-gradient(to left, transparent 0, transparent 0, var(--black-100) 77px, var(--black-100) 100%);
    }
    .scroll-drag {
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch; /* suavidade no iOS */
        scrollbar-width: none; /* Firefox */
      }
      
      .scroll-drag::-webkit-scrollbar {
        display: none; /* Chrome, Safari */
      }
      .scroll-drag {
        cursor: grab;
        user-select: none;
      }
      
      .scroll-drag.dragging {
        cursor: grabbing;
      }
      
      
}