
body, body *{
    cursor: none !important;
}

  .custom-cursor {
    position: fixed;
    width: 32px;
    height: 32px;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    // mix-blend-mode: difference;
    transition: opacity 0.2s ease, transform 0.1s ease;
  
    &.scrolling {
      opacity: 0.5;
    }
  
    &.cursor-default {
      background-image: url("/images/cursors/cursor-default.svg");
    }
  
    &.cursor-link {
      background-image: url("/images/cursors/cursor-link.svg");
    }
  
    &.cursor-expand {
      background-image: url("/images/cursors/cursor-expand.svg");
    }
  
    &.cursor-scroll {
      background-image: url("/images/cursors/cursor-scroll.svg");
    }
  }
  