.gutenberg {
  > p {
    @apply content-text mb-[1rem] lg:mb-6;
  }

  > .wp-block-image {
    @apply my-[2.5rem];
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    @apply mb-[1rem] mt-[2rem] lg:mb-6 lg:mt-[2.5rem];
  }

  > h1 {
    @apply content-title-h1;
  }

  > h2 {
    @apply content-title-h2;
  }

  > h3 {
    @apply content-title-h3;
  }

  > h4 {
    @apply content-title-h4;
  }

  > h5 {
    @apply content-title-h5;
  }

  > h6 {
    @apply content-title-h6;
  }

  a {
    @apply font-bold relative duration-500;

    &:after {
      content: "";
      @apply w-full h-[0.125rem] bg-primary flex absolute bottom-0 left-0 duration-500;
    }

    &:hover {
      @apply text-gray-900;

      &:after {
        @apply h-full;
        z-index: -1;
      }
    }
  }

  > .wp-block-list {
    @apply list-disc my-[1.875rem] lg:my-[2.5rem] ps-[2.5rem] lg:ps-[3.75rem];

    > li {
      @apply content-text;
    }
  }

  > .wp-block-quote {
    @apply my-[2rem] border-s-[0.625rem] border-primary lg:my-[2.5rem];

    > p {
      @apply text-white-70 content-title-h3 uppercase;
    }
  }

  > .wp-block-gallery {
    @apply mt-6 lg:mt-10;
    margin-bottom: 3rem !important;

    @media screen and (min-width: 992px) {
      margin-bottom: 5rem !important;
    }
  }

  .full-container {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    img {
      @apply w-full object-cover;
    }
  }

  // Visibilidade
  .d-none {
    display: none;
  }
  .d-block {
    display: block;
  }
  .d-flex {
    display: flex;
  }

  @media (min-width: 992px) {
    .d-lg-none {
      display: none;
    }
    .d-lg-block {
      display: block;
    }
    .d-lg-flex {
      display: flex;
    }
  }

  @media (max-width: 991px) {
    .d-mobile-none {
      display: none;
    }
    .d-mobile-block {
      display: block;
    }
    .d-mobile-flex {
      display: flex;
    }
  }

  // Configurações
  $steps: 26;
  $step-size: 0.25rem;

  // Margins
  @for $i from 1 through $steps {
    .margin-#{$i} {
      margin: $i * $step-size !important;
    }
    .margin-t-#{$i} {
      margin-top: $i * $step-size !important;
    }
    .margin-b-#{$i} {
      margin-bottom: $i * $step-size !important;
    }
    .margin-l-#{$i} {
      margin-left: $i * $step-size !important;
    }
    .margin-r-#{$i} {
      margin-right: $i * $step-size !important;
    }
    .margin-x-#{$i} {
      margin-left: $i * $step-size !important;
      margin-right: $i * $step-size !important;
    }
    .margin-y-#{$i} {
      margin-top: $i * $step-size !important;
      margin-bottom: $i * $step-size !important;
    }

    @media (min-width: 992px) {
      .margin--lg-#{$i} {
        margin: $i * $step-size !important;
      }
      .margin-t-lg-#{$i} {
        margin-top: $i * $step-size !important;
      }
      .margin-b-lg-#{$i} {
        margin-bottom: $i * $step-size !important;
      }
      .margin-l-lg-#{$i} {
        margin-left: $i * $step-size !important;
      }
      .margin-r-lg-#{$i} {
        margin-right: $i * $step-size !important;
      }
      .margin-x-lg-#{$i} {
        margin-left: $i * $step-size !important;
        margin-right: $i * $step-size !important;
      }
      .margin-y-lg-#{$i} {
        margin-top: $i * $step-size !important;
        margin-bottom: $i * $step-size !important;
      }
    }
  }

  // Paddings
  @for $i from 1 through $steps {
    .padding-#{$i} {
      padding: $i * $step-size !important;
    }
    .padding-t-#{$i} {
      padding-top: $i * $step-size !important;
    }
    .padding-b-#{$i} {
      padding-bottom: $i * $step-size !important;
    }
    .padding-l-#{$i} {
      padding-left: $i * $step-size !important;
    }
    .padding-r-#{$i} {
      padding-right: $i * $step-size !important;
    }
    .padding-x-#{$i} {
      padding-left: $i * $step-size !important;
      padding-right: $i * $step-size !important;
    }
    .padding-y-#{$i} {
      padding-top: $i * $step-size !important;
      padding-bottom: $i * $step-size !important;
    }

    @media (min-width: 992px) {
      .padding-lg-#{$i} {
        padding: $i * $step-size !important;
      }
      .padding-t-lg-#{$i} {
        padding-top: $i * $step-size !important;
      }
      .padding-b-lg-#{$i} {
        padding-bottom: $i * $step-size !important;
      }
      .padding-l-lg-#{$i} {
        padding-left: $i * $step-size !important;
      }
      .padding-r-lg-#{$i} {
        padding-right: $i * $step-size !important;
      }
      .padding-x-lg-#{$i} {
        padding-left: $i * $step-size !important;
        padding-right: $i * $step-size !important;
      }
      .padding-y-lg-#{$i} {
        padding-top: $i * $step-size !important;
        padding-bottom: $i * $step-size !important;
      }
    }
  }

  // Justify Items
  .justify-items-left {
    justify-items: start;
  }
  .justify-items-center {
    justify-items: center;
  }
  .justify-items-right {
    justify-items: end;
  }

  @media (min-width: 992px) {
    .justify-items-lg-left {
      justify-items: start;
    }
    .justify-items-lg-center {
      justify-items: center;
    }
    .justify-items-lg-right {
      justify-items: end;
    }
  }
}
