@layer {
    .shadow-right {
        -webkit-mask-image: linear-gradient(to left, transparent 0, transparent 0px, #000 77px, #000 100%);
        mask-image: linear-gradient(to left, transparent 0, transparent 0px, #000 77px, #000 100%);
    }
}

.tabs-skill {
    ul::-webkit-scrollbar {
        display: none !important;
        width: 0 !important;
        scrollbar-width: none; /* Firefox */
    }  
    > nav {
        @apply overflow relative shadow-right;

        ul {
            @apply pb-2;
        }   
        @media (min-width:768px) and (max-width: 1024px) {

            ul {
                @apply px-[1.5rem] pb-0;
                -ms-overflow-style: none; /* IE e Edge */
                scrollbar-width: none; /* Firefox */
            }
        }
    }
}