.heading-page-bg{
    min-height: 50vh;
    background-image: url(./bg.jpg);
    position: relative;
    --bs-single-image-hero-rgb: 25, 23, 51;
    &:before{
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        // background: linear-gradient(180deg, rgba(var(--bs-single-image-hero-rgb), 0.2) 30.21%, rgb(var(--bs-single-image-hero-rgb)) 93.23%);
        position: absolute;
        bottom: -1px;
    }
}
.heading-page{
    .heading-title{
        h1{
            font-size: 78px;
            line-height: 1;
            font-weight: 700;
        }
    }

    .heading-pills{
        overflow: hidden;;
        ul{
            column-gap: 16px;
            li{
                min-width: max-content;
                button{
                    font-size: 24px;
                    line-height: 32px;
                    background-color: #141414;
                    padding: 0 20px;
                    border-radius: 20px;
                    font-size: 12px;
                    color: #fff;
                }
            }
        }
    }

    .heading-content{
        p{
            font-size: 24px;
            line-height: 32px;
        }
    }
}