/* From Uiverse.io by catraco */ 
.switch-darkmode{
    $dark-sky: var(--gray-700);
    $moon: #ffd365;
    $light-sky: var(--gray-700);;
    $sun: #ffed89;
  
    display: inline-block;
    position: relative;
    border-radius: 5em;
    cursor: pointer;
    width: 3rem;
    height: 1.125rem;
    overflow: hidden;
    transition: all 0.5s;
  
    .back {
      background-color: $dark-sky;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      transition: 0.5s ease-in-out;
      @media (min-width: 768px){
        &:hover{
          background-color: var(--primary);
        }
      }
    }
  
    .checkbox {
      opacity: 0;
  
      &:checked {
        ~ .back {
          background-color: $light-sky;
          @media (min-width: 768px){
            &:hover{
              background-color: var(--primary);
            }
          }
        }
  
        ~ .moon {
          transform: translate(100%) rotate(180deg);
          opacity: 0;
        }
  
        ~ .sun {
          transform: translate(100%) rotate(180deg);
          opacity: 1;
        }
      }
    }
  
    .moon {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      padding: 0.2em;
      fill: $moon;
      transition: 0.5s;
    }
  
    .sun {
      position: absolute;
      left: 0.75rem;
      top: 0;
      height: 100%;
      padding: 0.2em;
      fill: $sun;
      transition: 0.5s;
      opacity: 0;
    }
  }
  