@layer {
  .overflow {
    @apply overflow-x-auto;

    &::-webkit-scrollbar {
      width: 0.0625rem;
      height: 0.5rem;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #dedede;
      border-radius: 0.625rem;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #ffa600;
      border-radius: 0.625rem;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  .list-categories {
    -webkit-mask-image: linear-gradient(
      to left,
      transparent 0,
      transparent 0,
      var(--black-100) 4.8125rem,
      var(--black-100) 100%
    );
    mask-image: linear-gradient(
      to left,
      transparent 0,
      transparent 0,
      var(--black-100) 4.8125rem,
      var(--black-100) 100%
    );
  }
}
