
.sec-bg-home {
    background: var(--gradient-primary-d)
}

.sec-call {
    .motion-2 {
        animation-name: scaleAnimation;
        animation-duration: 1ms;
        animation-direction: alternate;
        animation-timeline: view();
    }
}