
.sec-bg-home {
    background: var(--gradient-primary-d)
}

.sec-call {
    @media screen and (max-width: 768px) {
        > div {
            .sec-call-text {
                z-index: 10;
            }

            .sec-call-image {
                position: sticky;
                top: 0;
                width: 100vw;
                margin: 0 -1.5rem;
            }
        }
    }
}

.sec-recomendacoes {
    @media screen and (max-width: 768px) {
        .card-recomendations {    
            &:last-child {
                margin-right: 1.5rem;
            }
        }
    }
}

.sec-projetos {
    @media screen and (max-width: 767px) {
        .card-projeto-container {
            height: calc(100vh - 3.75rem);
        }
    }
}