.accordion {
  .overflow-hidden{
    opacity: 0;
    transition:opacity 1s linear;
    height: auto !important;
  }
  &.open{
    .overflow-hidden{
      opacity: 1;
    }
  }
  .accordion-header{
    button{
      span.ml-4{
        display: none !important;
      }
    }
  }
}
