body:has(main.main-archive) {
  header {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 1.8s ease-out 0.3s;
  }
  .archive-container {
    transition: transform 1.8s ease-out 0.3s;
    transform: translateY(3rem);
    @media (max-width:48rem) {
      transform: translateY(3rem);
    }
  }

  &[data-page-load="false"] {
    header {
      position: fixed;
      transform: translateY(0%);
    }
    .archive-container {
      transform: translateY(0%);
    }
  }
  .list-categories {
    -webkit-mask-image: linear-gradient(
      to left,
      transparent 0,
      transparent 0,
      var(--black-100) 4.8125rem,
      var(--black-100) 100%
    );
    mask-image: linear-gradient(
      to left,
      transparent 0,
      transparent 0,
      var(--black-100) 4.8125rem,
      var(--black-100) 100%
    );
    button{
      .img-tech{
        width: 1.375rem;
        height: auto;
        object-fit: contain;
        aspect-ratio: 1;
      }
      &.btn-active,&:hover{
        .img-tech{
          filter: invert(100%);
        }
      }
    }
  }
  .scroll-drag {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch; /* suavidade no iOS */
    scrollbar-width: none; /* Firefox */
  }

  .scroll-drag::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  .scroll-drag {
    user-select: none;
  }
  .archive-container{
    .project-card{
      background-color: transparent;
      transition: all 0.3s;
      &:hover{
        background-color: var(--white-10);
      }
    }
  }
}
